mixin search(keyword)
  form#form-search
    .input-group
      input.form-control(
        type="text",
        placeholder="Nhập từ khóa tìm kiếm",
        name="keyword",
        value=keyword
      )
      button.btn.btn-success(type="submit") Tìm kiếm