.slider 
  .inner-menu 
    ul 
      li 
        a(href=`${variableAll}/dashboard`) Tong quan
      li  
        a(href=`${variableAll}/product`) san pham 
      li  
        a(href=`${variableAll}/product/recycle`) Thung rac