header.header
  .ship Miễn phí vận chuyển
  .header-btn
    .search
      div
        input.input(type="text", placeholder="Tìm kiếm sản phẩm")
      div
        i(class="ti-search")
    .block
      .account
        div.home.box
          a(href="/") Trang chủ
        div.product.box
          a(href="/product") Sản phẩm
        .auth-buttons.box
          a.login(href="/page/Loggin/login.html") Login
        div
          i(class="ti-Italic")
        .auth-buttons.box
          a.register(href="/page/Register/register.html") Register
        div.cart.box
          i.ti-shopping-cart(style="font-size: 32px;")
          a(href="/cart", style="font-size: 16px;") Giỏ hàng
      p.note.box Tài khoản của tôi
