header.header
  .ship Miễn phí vận chuyển
  .header-btn
    form#form-search
      .input-group
        input.form-control(
          type="text",
          placeholder="Nhập từ khóa tìm kiếm",
          name="keyword",
          value=keyword
        )
        button.btn.btn-success(type="submit")
          img(src="/img/search.png", alt="")
    .block
      .account
        div.home.box
          a(href="/") Trang chủ
        div.product.box
          a(href="/product") Sản phẩm
        .auth-buttons.box
          a.login(href="/page/Loggin/login.html") Login
        div
          i(class="ti-Italic")
        .auth-buttons.box
          a.register(href="/page/Register/register.html") Register
        div.cart.box
          i.ti-shopping-cart(style="font-size: 32px;")
          a(href="/cart", style="font-size: 16px;") Giỏ hàng
      p.note.box Tài khoản của tôi
